<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Usuarios</h1>
  <p>Lista de Usuarios.</p>
  <a href="/">Home</a>

  <table>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Senha</th>
      <th>isAdmin</th>
      <th>Excluir</th>
      <th>Editar</th>
    </tr>
    <tbody>
      <tr th:each="usuario : ${usuarios}">
        <td>
          <a th:href="'/usuarios/'+${usuario.id}" th:text="${usuario.nome}"></a>
        </td>
        <td th:text="${usuario.email}"></td>
        <td th:text="${usuario.senha}"></td>
        <td th:text="${usuario.isAdmin}"></td>
        <td>
          <form action="/usuarios/delete" method="post">
            <input type="hidden" name="id" th:value="${usuario.id}">
            <button>Excluir</button>
          </form>
        </td>
        <td>
          <a th:href="'/usuarios/'+${usuario.id}+'/edit'">
            <button>Editar</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Novo Usuario</h2>
  <form action="/usuarios" method="post">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome" required>

    <label for="email">E-mail:</label>
    <input type="email" name="email" id="email" required>

    <label for="senha">Senha:</label>
    <input type="password" name="senha" id="senha" required>

    <label for="isAdmin">isAdmin:</label>
    <input type="checkbox" name="isAdmin" id="isAdmin" required>



    <button>Enviar</button>
  </form>

</body>

</html>